@import url('/static/css/rp.css');
header {
	background: 
}
header h1{
	margin-left: 20px;
}

.fill{
	width: 200px;
	margin-left: 20px;
	float: left;
}

.fill .form-group .btn-primary{
	margin-top: 10px;
}
.fill .form-group h3{
	margin: 10px 0;
}

.fill .form-group input{
	margin: 10px 0;
}

.menu{
	width: 300px;
	float: left;
	margin-left: 50px;
}

.menu h3{
	margin: 10px 0;
}
.menu li span{
	width: 100px;
	display: inline-block;
}