@import url('/static/css/base/base-app.css');
html{
}
body{
	background: url(/static/img/yun.jpg) no-repeat;
	background-size:cover;
}
header {
	margin-top: 10px;
	text-align:center
}
header h1{
	margin: 10px 0;
}
header img{
	width: 88px;
	border-radius: 100%;
}
.result{ 
	text-align: center;
}

.main li{
	height: 4rem;
	text-align: left;
	padding-left: 3rem;
}

.main .submit{
	margin: 20px 0;
	text-align: center;
}

.main .remark{
	padding-left: 30px;
}

.main .remark textarea{
	width: 250px;
	height: 100px;
	margin-top: 10px;
	border: none;
}