<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理后台</title>
<link rel="stylesheet" href="/static/css/admin/index.css">
</head>
<body>
  <%include ../../base/header%>
  <div>
  	<nav class="admin_nav">
  		<ul class="fn-clear">
  			<li>
          <a class="front" href="/admin/article">编辑期刊</a>
          <a class="back" href="/admin/article">编辑期刊2</a>         
        </li>
  			<li>
          <a  class="front" href="/admin/share">每周分享</a>
          <a class="back" href="/admin/article">每周分享2</a>
        </li>
  			<li>
          <a class="front" href="/admin/wechat">公众号消息</a>
          <a class="back" href="/admin/article">公众号消息2</a>
        </li>
  		</ul>
  	</nav>
  </div>
</body>
</html>