<!doctype html>
<html ng-app="addApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
     <script src="/static/js/libs/marked.js"></script>
    <style>
    	html, body {
    		width: 100%;
    		height: 100%;
    	}
    	.container {
    		position: absolute;
    		top: 40px;
    		bottom: 0;
    		left: 0;
			right: 0;
    	}
		#editor {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			bottom: 0;
			height: 80%;
		}
		#result {
			position: absolute;
			border-left: 1px solid #aaa;
			top: 0;
			right: 0;
			width: 50%;
		}
    </style>
  </head>
  <body ng-controller="addCtrl">
  	<h3>请使用markdown语法</h1>
    <div class="container">
      <textarea id="editor" name="" id="" cols="30" rows="10" ng-model="content"></textarea>
      <div id="result" ng-bind-html="content|marked"></div>
    </div>
    <script src="/static/js/admin/add.js"></script>
  </body>
</html>