@import url('/static/css/rp.css');
a, a:visited{color:inherit;text-decoration: none;}
header{padding: 20px 0 20px 0;background-color: #4A6495}
code{  padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
.content{width: 1000px;margin: auto}
.wrap{width: 1000px;}
.content{margin-top: 80px;}
.list{width: 800px;}
.list .item{position: relative;padding-left: 70px;margin-top: 50px;}
.list .item .step{position: absolute;width: 36px;height: 36px;top:-3px;left:0;border: 5px solid #4A6495;border-radius: 23px;text-align: center;line-height: 36px;}
.list .item h2{font-size: 24px;font-weight: normal;}
.list .item p{line-height: 30px;margin-top: 10px}
html, body {
	height: 100%;
	width: 100%;
}
[ng-cloak] {
    display: none;
}
header .logo {
  width: 50px;
  margin:0 20px;
  vertical-align: middle;
}
header .wrap h1 {
  font-size: 26px;
  color:#fff;
  font-weight: normal;
  line-height: 36px;
}
.article-ctn h1{
	color: #000;
}