<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
</head>
<body>
  <header>
    <div>
      <img src="/static/img/logo.jpg">
    </div>
    <h4>公众账号后台管理系统</h4>
  </header>
  
</body>
<script type="text/javascript" src="http://s0.qhimg.com/lib/jquery/1102.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/avalon.js"></script>
</html>