<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>360云盘后台打分系统</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/share.css">
</head>
<body>
  <header>
      <img src="" id="touxiang">
      <h1><%=scoreData.name%></h1>
  </header>
  <div id="result" class="result"></div>
  <div class="main">
    <ul id="aUl">
      <li>
        1、演讲者准备充分<br>
        <input type="radio" name="1" value="1">1分
        <input type="radio" name="1" value="2">2分
        <input type="radio" name="1" value="3">3分
        <input type="radio" name="1" value="4">4分
        <input type="radio" name="1" value="5">5分
      </li>
      <li>
        2、演讲者口齿清晰，发音标准<br>
        <input type="radio" name="2" value="1">1分
        <input type="radio" name="2" value="2">2分
        <input type="radio" name="2" value="3">3分
        <input type="radio" name="2" value="4">4分
        <input type="radio" name="2" value="5">5分
      </li>
      <li>
        3、演讲者逻辑清晰，表达流畅<br>
        <input type="radio" name="3" value="1">1分
        <input type="radio" name="3" value="2">2分
        <input type="radio" name="3" value="3">3分
        <input type="radio" name="3" value="4">4分
        <input type="radio" name="3" value="5">5分
      </li>
      <li>
        4、演讲者积极与观众互动（问答）<br>
        <input type="radio" name="4" value="1">1分
        <input type="radio" name="4" value="2">2分
        <input type="radio" name="4" value="3">3分
        <input type="radio" name="4" value="4">4分
        <input type="radio" name="4" value="5">5分
      </li>
      <li>
        5、演讲者时间掌控好（没有严重超时）<br>
        <input type="radio" name="5" value="1">1分
        <input type="radio" name="5" value="2">2分
        <input type="radio" name="5" value="3">3分
        <input type="radio" name="5" value="4">4分
        <input type="radio" name="5" value="5">5分
      </li>
      <li>
        6、演讲内容或者形式富有新意<br>
        <input type="radio" name="6" value="1">1分
        <input type="radio" name="6" value="2">2分
        <input type="radio" name="6" value="3">3分
        <input type="radio" name="6" value="4">4分
        <input type="radio" name="6" value="5">5分
      </li>
      <li>
        7、演讲内容对工作有帮助或启发<br>
        <input type="radio" name="7" value="1">1分
        <input type="radio" name="7" value="2">2分
        <input type="radio" name="7" value="3">3分
        <input type="radio" name="7" value="4">4分
        <input type="radio" name="7" value="5">5分
      </li>
    </ul>
    <div class="remark">
      对分享者的评价或想要了解的知识 <textarea type="text" id="remark"></textarea>
    </div>
    <div class="submit">
        <button type="submit" class="btn btn-primary" id="submit">都填好了,我要提交了</button>
    </div>

  </div>


</body>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
  var lock = 0;

  // $('#aUl li').change(function() {
  //   lock = 1;
  // })
  $('#touxiang')[0].src= '/static/img/<%=scoreData.name%>.png';
  $('#touxiang')[0].onerror = function(){
    alert(1);
        this.src = "/static/img/touxiang-default.jpg"
      }
  
  $('#submit').on('click',function() {

    var i = 0;
    var rank = [4,2,4,2,2,4,4];
    var rankTotal = 22;
    var count = 0;
    $('#aUl input:checked').each(function(j) {
      if($(this).prop('checked')) {
        console.log($(this).val()*rank[j])
        count += $(this).val()*rank[j];
        i++;
      }
    })
    if(i != 7) {
      alert('小兄弟，内容要填全啊！');
      return
    }  else {
      count = (count/22).toFixed(2);
    }
    // var count = 0;
    // $('select').each(function(i){
    //   count += parseInt($(this).val());
    // });

    // if(lock === 0) {
      
    //   return;
    // }

    $.ajax({
      type: 'POST',
      url: './share/makescore',
      data: {
        score: count,
        remark: $('#remark').val()
      },
      dataType: 'json',
      success: function(res){
        if(res.errno === 0) {
          $('#result').html('您的评分为：'+res.data.score+',目前总得分为：'+res.data.average+'')
          alert('打分成功');
        } else {
          alert(res.errmsg);
        }
      }
      
    });
  })
  


</script>
</html>